In [8]:
import pandas as pd
import matplotlib.pyplot as plt  
from datetime import datetime, timedelta, date

In [3]:
data_location = 'C:/Users/kaley/OneDrive/Documents/Coding Stuff/Data Science/Mental Health Project/Sample Data/'
# C:\Users\kaley\OneDrive\Documents\Coding Stuff\Data Science\Mental Health Project\Sample Data\FinchExport_2024-09-23
variables_data_location = data_location+'FinchExport_2025-04-12/Bullet.json'

In [4]:
data_series = pd.read_json(variables_data_location, typ='series')
data_df = pd.json_normalize(data_series.data)

In [9]:
exvar_df = data_df = pd.json_normalize(data_series.data)[['dt','bullet_type','text','bullet_status']]
exvar_df = exvar_df.query("bullet_type == 1")
exvar_df = exvar_df.drop('bullet_type',axis=1)

In [10]:
# convert to datetime
exvar_df['Record_Datetime'] = exvar_df.dt.map(lambda x: datetime.strptime(x, "%a, %d %b %Y %H:%M:%S"))
exvar_df['Record_Date']= exvar_df['Record_Datetime'].dt.date
exvar_df = exvar_df.drop(['dt'],axis=1)

In [11]:
exvar_df['text'] = exvar_df['text'].str.replace("#","")
exvar_df.head()

,text,bullet_status,Record_Datetime,Record_Date
0,Meditation Timer,0.0,2024-04-28 01:00:00,2024-04-28
1,Think about a positive moment with yoga,0.0,2024-04-11 01:00:00,2024-04-11
2,Yoga,0.0,2024-05-17 01:00:00,2024-05-17
3,Think about a positive moment with yoga,0.0,2024-01-28 01:00:00,2024-01-28
4,Read for fun,1.0,2023-09-05 01:00:00,2023-09-05

In [12]:
# replace {old_name: new name}
duplicates_dict = {
    "Laundry":"Start a load of laundry",
    "Create a Finch_Backup_File":"Create a Finch Backup File",
    "Walk around the neighborhood":"Mindfulness Walk"
}

In [13]:
exvar_df['text'] = exvar_df['text'].replace(duplicates_dict)

In [14]:
exvar_df = exvar_df.sort_values('Record_Date',ascending=False)
exvar_df.head()

                 text  bullet_status     Record_Datetime Record_Date
12736   Gratitude Jar            0.0 2025-04-12 01:00:00  2025-04-12
5271   Apply to 1 Job            0.0 2025-04-12 01:00:00  2025-04-12
4369     Read for fun            1.0 2025-04-12 01:00:00  2025-04-12
4442          Just be            1.0 2025-04-12 01:00:00  2025-04-12
6267      Drink water            1.0 2025-04-12 01:00:00  2025-04-12

In [15]:
start_date = date(2025,3,29)
end_date = date(2025,4,11)
recent_df = exvar_df[(exvar_df['Record_Date'] > start_date) & (exvar_df['Record_Date'] < end_date)].sort_values('Record_Datetime')

In [16]:
recent_df.head(30)

,text,bullet_status,Record_Datetime,Record_Date
11410,Apply to 1 Job,0.0,2025-03-30 01:00:00,2025-03-30
7446,Just be,1.0,2025-03-30 01:00:00,2025-03-30
5934,Eat Dinner,1.0,2025-03-30 01:00:00,2025-03-30
10480,Drink water,1.0,2025-03-30 01:00:00,2025-03-30
1314,Put away one item that is not in its place,1.0,2025-03-30 01:00:00,2025-03-30
2505,Take a shower,1.0,2025-03-30 01:00:00,2025-03-30
6619,Take meds,1.0,2025-03-30 01:00:00,2025-03-30
9485,Gratitude Jar,0.0,2025-03-30 01:00:00,2025-03-30
4311,7000 steps,0.0,2025-03-30 01:00:00,2025-03-30
8150,Think about a positive moment with yoga,0.0,2025-03-30 01:00:00,2025-03-30
13899,Breeze Walk in Nature without Distractions,1.0,2025-03-30 01:00:00,2025-03-30
12473,Eat lunch,1.0,2025-03-30 01:00:00,2025-03-30
4652,Mindfulness Walk,1.0,2025-03-30 01:00:00,2025-03-30
13069,Night Reflection,0.0,2025-03-30 01:00:00,2025-03-30
11232,Start a load of laundry,0.0,2025-03-30 01:00:00,2025-03-30
8666,Eat breakfast,1.0,2025-03-30 01:00:00,2025-03-30
12868,Take Vitamin_D,0.0,2025-03-30 01:00:00,2025-03-30
4883,Yoga,0.0,2025-03-30 01:00:00,2025-03-30
7139,Step outside once,1.0,2025-03-30 01:00:00,2025-03-30
12547,Meditation Timer,0.0,2025-03-30 01:00:00,2025-03-30
2453,Express gratitude to a friend I'm thankful for,1.0,2025-03-30 01:00:00,2025-03-30
8557,Make art ðŸŽ¨,0.0,2025-03-30 01:00:00,2025-03-30
6600,Do 1 Job Hunt Related Task,1.0,2025-03-30 01:00:00,2025-03-30
1567,Read for fun,1.0,2025-03-30 01:00:00,2025-03-30
11714,Put away one item that is not in its place,1.0,2025-03-31 01:00:00,2025-03-31
10848,Meditation Timer,0.0,2025-03-31 01:00:00,2025-03-31
3552,Breeze Walk in Nature without Distractions,0.0,2025-03-31 01:00:00,2025-03-31
6203,Gratitude Jar,0.0,2025-03-31 01:00:00,2025-03-31
10062,Think about a positive moment with yoga,0.0,2025-03-31 01:00:00,2025-03-31
11980,Drink water,1.0,2025-03-31 01:00:00,2025-03-31