In [1]:
import pandas as pd

In [2]:
data_location = 'C:/Users/kaley/OneDrive/Documents/Coding Stuff/Data Science/Mental Health Project/Sample Data/'
# C:\Users\kaley\OneDrive\Documents\Coding Stuff\Data Science\Mental Health Project\Sample Data\FinchExport_2024-09-23
variables_data_location = data_location+'FinchExport_2025-03-01/Bullet.json'

In [3]:
data_series = pd.read_json(variables_data_location, typ='series')

In [4]:
data_df = pd.json_normalize(data_series.data)
# data_df.to_excel('finch_goals.xlsx')

In [5]:
data_df

,dt,bullet_type,text,score,is_processed,bullet_status,preferred_emoji_char,completed_time,creation_time,position,...,linked_action_config.bullet.targeting_power_up_uuids,linked_action_config.bullet.associated_power_up_uuids,linked_action_config.bullet.linked_action_config,preferred_area_names,action_name,story_id,is_persistent,preferred_sentiment,gift_ids,linked_community_habit_id
0,"Sun, 28 Apr 2024 01:00:00",1,#Meditation Timer,0.000000,True,0.0,üßòüèæ,,"Sun, 28 Apr 2024 08:50:29",7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Thu, 11 Apr 2024 01:00:00",1,Think about a positive moment with #yoga,6.666667,True,0.0,NaN,,"Thu, 11 Apr 2024 09:01:23",0.0,...,[],[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Fri, 17 May 2024 01:00:00",1,#Yoga,0.000000,True,0.0,NaN,,"Fri, 17 May 2024 10:26:16",3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Sun, 28 Jan 2024 01:00:00",1,Think about a positive moment with #yoga,6.666667,True,0.0,NaN,,"Sun, 28 Jan 2024 07:45:41",0.0,...,[],[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Tue, 5 Sep 2023 01:00:00",1,#Read for #fun,6.666667,True,1.0,NaN,"Tue, 5 Sep 2023 14:56:34","Tue, 5 Sep 2023 10:16:36",8.0,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13492,"Mon, 30 Oct 2023 01:00:00",1,Drink #water,0.000000,True,1.0,ü•§,"Mon, 30 Oct 2023 12:07:23","Mon, 30 Oct 2023 10:45:50",2.0,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,NaN
13493,"Thu, 14 Dec 2023 01:00:00",2,I was #thankful today that #Roberto (my superv...,14.400000,True,0.0,NaN,,"Thu, 14 Dec 2023 16:27:30",NaN,...,NaN,NaN,NaN,[],,NaN,NaN,NaN,NaN,NaN
13494,"Tue, 20 Dec 2022 04:00:00",1,Talky Tuesday,0.000000,True,0.0,NaN,,"Tue, 20 Dec 2022 11:33:17",0.0,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,NaN
13495,"Sat, 14 Jan 2023 01:00:00",1,Make my #bed,0.000000,True,0.0,üõèÔ∏è,,"Sat, 14 Jan 2023 09:43:44",0.0,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,NaN
13496,"Mon, 5 Aug 2024 01:00:00",1,#Gratitude Jar,11.250000,False,0.0,ü•∞,,"Mon, 5 Aug 2024 08:07:09",6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
for i in data_df.columns:
    print(i)

dt
bullet_type
text
score
is_processed
bullet_status
preferred_emoji_char
completed_time
creation_time
position
schedule_time
is_reminder_on
is_goal_of_the_day
quote
end_time
description
has_granted_reward
is_completed
cadence.period
cadence.weekday_index
cadence.monthday_index
cadence.period_frequency
cadence.start_dt
linked_action_config.actionTypeStr
linked_action_config.energyMultiplier
linked_action_config.contextualId
linked_action_config.index
linked_action_config.friendAccountId
linked_action_config.duration
is_manual_input
linked_action_config.bullet.uuid
linked_action_config.bullet.dt
linked_action_config.bullet.bullet_type
linked_action_config.bullet.text
linked_action_config.bullet.tags_mapping
linked_action_config.bullet.score
linked_action_config.bullet.is_processed
linked_action_config.bullet.bullet_status
linked_action_config.bullet.preferred_sentiment
linked_action_config.bullet.parent_bullet_uuid
linked_action_config.bullet.children_goal_uuids
linked_action_config.bullet.children_reflection_uuids
linked_action_config.bullet.cadence
linked_action_config.bullet.preferred_emoji_char
linked_action_config.bullet.completed_time
linked_action_config.bullet.question_bullet_uuid
linked_action_config.bullet.action_name
linked_action_config.bullet.preferred_area_names
linked_action_config.bullet.story_id
linked_action_config.bullet.creation_time
linked_action_config.bullet.position
linked_action_config.bullet.theme_enum_int
linked_action_config.bullet.schedule_time
linked_action_config.bullet.is_reminder_on
linked_action_config.bullet.is_goal_of_the_day
linked_action_config.bullet.gift_ids
linked_action_config.bullet.quote
linked_action_config.bullet.end_time
linked_action_config.bullet.guided_journey_id
linked_action_config.bullet.description
linked_action_config.bullet.duration_in_seconds
linked_action_config.bullet.is_persistent
linked_action_config.bullet.counter
linked_action_config.bullet.from_account_id
linked_action_config.bullet.is_manual_input
linked_action_config.bullet.children_uuids
linked_action_config.bullet.has_granted_reward
linked_action_config.bullet.is_completed
linked_action_config.bullet.is_from_suggestion
linked_action_config.bullet.targeting_power_up_uuids
linked_action_config.bullet.associated_power_up_uuids
linked_action_config.bullet.linked_action_config
preferred_area_names
action_name
story_id
is_persistent
preferred_sentiment
gift_ids

In [11]:
out_df = data_df[['dt','bullet_type','text','score','bullet_status','completed_time','creation_time','schedule_time','end_time']]

In [12]:
out_df['creation_date'] = pd.to_datetime(out_df.creation_time)
out_df['dt'] = pd.to_datetime(out_df.dt)
out_df['completed_time'] = pd.to_datetime(out_df.completed_time)
out_df['schedule_time'] = pd.to_datetime(out_df.schedule_time)
out_df['end_time'] = pd.to_datetime(out_df.end_time)

C:\Users\kaley\AppData\Local\Temp\ipykernel_1220\4291507048.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  out_df['creation_date'] = pd.to_datetime(out_df.creation_time)
C:\Users\kaley\AppData\Local\Temp\ipykernel_1220\4291507048.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  out_df['dt'] = pd.to_datetime(out_df.dt)
C:\Users\kaley\AppData\Local\Temp\ipykernel_1220\4291507048.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  out_df['completed_time'] = pd.to_datetime(out_df.completed_time)
C:\Users\kaley\AppData\Local\Temp\ipykernel_1220\4291507048.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  out_df['schedule_time'] = pd.to_datetime(out_df.schedule_time)
C:\Users\kaley\AppData\Local\Temp\ipykernel_1220\4291507048.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  out_df['end_time'] = pd.to_datetime(out_df.end_time)

In [13]:
out_df.head()

,dt,bullet_type,text,score,bullet_status,completed_time,creation_time,schedule_time,end_time,creation_date
0,2024-04-28 01:00:00,1,#Meditation Timer,0.000000,0.0,NaT,"Sun, 28 Apr 2024 08:50:29",NaT,NaT,2024-04-28 08:50:29
1,2024-04-11 01:00:00,1,Think about a positive moment with #yoga,6.666667,0.0,NaT,"Thu, 11 Apr 2024 09:01:23",NaT,NaT,2024-04-11 09:01:23
2,2024-05-17 01:00:00,1,#Yoga,0.000000,0.0,NaT,"Fri, 17 May 2024 10:26:16",NaT,NaT,2024-05-17 10:26:16
3,2024-01-28 01:00:00,1,Think about a positive moment with #yoga,6.666667,0.0,NaT,"Sun, 28 Jan 2024 07:45:41",NaT,NaT,2024-01-28 07:45:41
4,2023-09-05 01:00:00,1,#Read for #fun,6.666667,1.0,2023-09-05 14:56:34,"Tue, 5 Sep 2023 10:16:36",2023-09-05 14:00:00,NaT,2023-09-05 10:16:36

In [14]:
out_df.dtypes

dt                datetime64[ns]
bullet_type                int64
text                      object
score                    float64
bullet_status            float64
completed_time    datetime64[ns]
creation_time             object
schedule_time     datetime64[ns]
end_time          datetime64[ns]
creation_date     datetime64[ns]
dtype: object

In [15]:
#out_df.to_csv('bullets.csv',index=False)

In [7]:
data_df[['bullet_type','text']].groupby('text').count().sort_values(by=['bullet_type'])

                                                    bullet_type
text
"I just wishl could teach the #tree that it sho...            1
Just survive the day                                          1
Life is exhausting. I make bad #choice after ba...            1
Like feeling like not a single #person out of w...            1
Make a #gratitude list before #sleeping                       1
...                                                         ...
Just be                                                     680
#Meditation Timer                                           688
7000 steps                                                  691
Put away one #item that is not in its #place                693
Drink #water                                                694

[245 rows x 1 columns]

In [8]:
bullets = data_df[['bullet_type','text']].groupby(['bullet_type','text']).count()

In [9]:
bullets

Empty DataFrame
Columns: []
Index: [(1, #Eat #Dinner), (1, #Eat #breakfast), (1, #Eat #lunch), (1, #Express #gratitude to a #friend I'm #thankful for), (1, #Gratitude Jar), (1, #Laundry), (1, #Meditation Timer), (1, #Message an old #friend I haven't #talked to in a while), (1, #Read for #fun), (1, #Reflect on how #friends makes me feel #gratitude lately), (1, #Reflect on what I did well recently), (1, #Remind myself of the #challenges I've overcome before), (1, #Step outside once), (1, #Walk around the #neighborhood), (1, #Write 3 things on how #friends impacted me recently), (1, #Yoga), (1, #pessimism_Quiz), (1, 3 #push-ups), (1, 3 min #meditation), (1, 5 to 1 Technique), (1, 7000 steps), (1, Create a #Finch_Backup_File), (1, Create a Finch Backup File), (1, Create a dedicated #workspace to draw better #boundaries), (1, Drink #water), (1, Host a #game_night with my #friends), (1, Just be), (1, List 3 things I've always wanted to #try but am #afraid of and #try one of them), (1, Make #art üé®), (1, Make a #gratitude list before #sleeping), (1, Make my #bed), (1, Mindfulness #Walk), (1, Night #Reflection), (1, One #Job #Hunting #task), (1, Put away one #item that is not in its #place), (1, Start a #load of #laundry), (1, Take #Vitamin_C), (1, Take #meds), (1, Take a #shower), (1, Take meds), (1, Talky Tuesday), (1, Think about a positive moment with #yoga), (1, Wind Down #Stretches), (2, "I just wishl could teach the #tree that it should take #care of itself too, notjust its friends!"

#Exactly_Bagel. Put on your own #oxygen_mask before you help others ), (2, #Aleksandra gave me #cake), (2, #Andy looking happy when she saw me), (2, #Dilshan, my old boss, saying that he's been following my #art_journey and that it's impressive), (2, #Gratitude for myself for taking #care of myself, 1 year ago ish I decided not to unalive myself, with the motivation being able to help others if I was able to get better. Today I've been going to #Yin #yoga almost weekly, from wanting to take #care of my #bones for my own #health as I age), (2, #Gratitude journal: #yoga, #Whiskey_the_Cat, #music), (2, #Gratitude journal: #yoga, #privilege, #Whiskey_the_Cat, #coffee, #music), (2, #Gratitude journal: friends, #Whiskey_the_Cat, my Dr and team of people helping me, my bed, spring), (2, #Gratitude journal: more #confidence, #friends), (2, #Gratitude journal: my body, #Bryce, privilege, #yoga, peanut butter), (2, #Gratitude list: my bf, my cat, my #fam, heaty heat, bed, fuzzy socks, and hugs), (2, #Hotyoga and long shower), (2, #Interesting ), (2, #Karma? With #Michelle who just wanted a stuff #animal to cuddle), (2, #Love), (2, #Meeting #Olivia at #Kula #yoga, and she gave me positive #feedback on my #yoga posture), (2, #Proud I got #dishes and some #cleaning done), (2, #Sewing with Will was fun), (2, #TTC is so unreliable and #frustrating), (2, #Tracy was surprised and impressed with my #splits after #ashtanga today), (2, #Yoga and remembering to #breath and stay in the here and now), (2, #grateful for #fresh #air), (2, #grateful for my #Kobo e-reader), (2, #grateful for my #body and relative #health), (2, #uSB_C_chargers), (2, #venting to my #friend #James), (2, 1. riding a #bike in #Toronto 2. cut my #hair short? (I have done that before tho) 3. date girl), (2, 7000 #steps felt good, lots of #cleaning both at #yoga and at #home), (2, A memory: #Tracy giving me a #thumbs up as I held my #balance in ashtanga #yoga, it was the second side and I had fallen a bunch on my first side but I kept trying!), (2, And I know that's not rational I know it and I know I believe. And #science would tell me that #hormones are influencing my #emotions as well as I don't know other crazy #factors right now like the #world is going to #f*** again I don't know), (2, And now I should not make any permanent #decisions but I don't think that that means I shouldn't #listen to whatever part of me is saying this right now so I'm going to have it here I don't and if I stumble upon it at some #point then just remember that I was thinking this.), (2, And there's the #maybe_BPD I don't  So this could be the the #M_word), (2, And to stay positive and laugh and tell #stories, getting to know my new #roommate who helped immensely with the moving in process), (2, Bought #fabric!), (2, Bringing Ariana to yoga and she loved it), (2, But I am just so over it I don't think I can do it like this like I have this and like yeah #sure if you have crazy I don't know probably I would have been thrown into the same #asylum a year ago if if this were like what I don't know maybe 10 to 15 20 years ago I don't know I'm a woman and I'm hysterical so), (2, But probably that's not the real problem you know?), (2, Coffee), (2, Connection with #Whiskey_the_Cat, She trusts me, She lets me pet her #belly because she KNOWS she can #trust me), (2, Courage ), (2, Curiosity), (2, Dealing with #trauma from past sexual #experiences), (2, Doing my 100th #class today, #Andy giving me a big #hug), (2, During #yoga yesterday, #Terry-Ann questioning thoughts about being "good enough, strong enough, pretty enough"...), (2, Feeling #disrespected by my #roommate, like he doesn't care at all if I starve myself), (2, Feeling #scared of #strangers), (2, Fell #asleep maybe 2:30 to 3 am), (2, Finding a #place to live!!), (2, Fuck
Frodo
Fudge), (2, Good!), (2, Got up around 9:30am), (2, Gratitude journal: friends, water, sun, alcohol, pools ), (2, Hovering in #crowpose today), (2, I #accomplished 2 #chores today that I've been avoiding), (2, I #love my #cat_Whiskey so much), (2, I am #grateful for my #bed), (2, I am #grateful for my #cat_Whiskey I #love her), ...]

[274 rows x 0 columns]

In [10]:
bullets.query("bullet_type == 1")
# bullet_type 1 is goals I did or did not meet

Empty DataFrame
Columns: []
Index: [(1, #Eat #Dinner), (1, #Eat #breakfast), (1, #Eat #lunch), (1, #Express #gratitude to a #friend I'm #thankful for), (1, #Gratitude Jar), (1, #Laundry), (1, #Meditation Timer), (1, #Message an old #friend I haven't #talked to in a while), (1, #Read for #fun), (1, #Reflect on how #friends makes me feel #gratitude lately), (1, #Reflect on what I did well recently), (1, #Remind myself of the #challenges I've overcome before), (1, #Step outside once), (1, #Walk around the #neighborhood), (1, #Write 3 things on how #friends impacted me recently), (1, #Yoga), (1, #pessimism_Quiz), (1, 3 #push-ups), (1, 3 min #meditation), (1, 5 to 1 Technique), (1, 7000 steps), (1, Create a #Finch_Backup_File), (1, Create a Finch Backup File), (1, Create a dedicated #workspace to draw better #boundaries), (1, Drink #water), (1, Host a #game_night with my #friends), (1, Just be), (1, List 3 things I've always wanted to #try but am #afraid of and #try one of them), (1, Make #art üé®), (1, Make a #gratitude list before #sleeping), (1, Make my #bed), (1, Mindfulness #Walk), (1, Night #Reflection), (1, One #Job #Hunting #task), (1, Put away one #item that is not in its #place), (1, Start a #load of #laundry), (1, Take #Vitamin_C), (1, Take #meds), (1, Take a #shower), (1, Take meds), (1, Talky Tuesday), (1, Think about a positive moment with #yoga), (1, Wind Down #Stretches)]

In [11]:
bullets.query("bullet_type == 2")
#bullet_type 2 is reflections

Empty DataFrame
Columns: []
Index: [(2, "I just wishl could teach the #tree that it should take #care of itself too, notjust its friends!"

#Exactly_Bagel. Put on your own #oxygen_mask before you help others ), (2, #Aleksandra gave me #cake), (2, #Andy looking happy when she saw me), (2, #Dilshan, my old boss, saying that he's been following my #art_journey and that it's impressive), (2, #Gratitude for myself for taking #care of myself, 1 year ago ish I decided not to unalive myself, with the motivation being able to help others if I was able to get better. Today I've been going to #Yin #yoga almost weekly, from wanting to take #care of my #bones for my own #health as I age), (2, #Gratitude journal: #yoga, #Whiskey_the_Cat, #music), (2, #Gratitude journal: #yoga, #privilege, #Whiskey_the_Cat, #coffee, #music), (2, #Gratitude journal: friends, #Whiskey_the_Cat, my Dr and team of people helping me, my bed, spring), (2, #Gratitude journal: more #confidence, #friends), (2, #Gratitude journal: my body, #Bryce, privilege, #yoga, peanut butter), (2, #Gratitude list: my bf, my cat, my #fam, heaty heat, bed, fuzzy socks, and hugs), (2, #Hotyoga and long shower), (2, #Interesting ), (2, #Karma? With #Michelle who just wanted a stuff #animal to cuddle), (2, #Love), (2, #Meeting #Olivia at #Kula #yoga, and she gave me positive #feedback on my #yoga posture), (2, #Proud I got #dishes and some #cleaning done), (2, #Sewing with Will was fun), (2, #TTC is so unreliable and #frustrating), (2, #Tracy was surprised and impressed with my #splits after #ashtanga today), (2, #Yoga and remembering to #breath and stay in the here and now), (2, #grateful for #fresh #air), (2, #grateful for my #Kobo e-reader), (2, #grateful for my #body and relative #health), (2, #uSB_C_chargers), (2, #venting to my #friend #James), (2, 1. riding a #bike in #Toronto 2. cut my #hair short? (I have done that before tho) 3. date girl), (2, 7000 #steps felt good, lots of #cleaning both at #yoga and at #home), (2, A memory: #Tracy giving me a #thumbs up as I held my #balance in ashtanga #yoga, it was the second side and I had fallen a bunch on my first side but I kept trying!), (2, And I know that's not rational I know it and I know I believe. And #science would tell me that #hormones are influencing my #emotions as well as I don't know other crazy #factors right now like the #world is going to #f*** again I don't know), (2, And now I should not make any permanent #decisions but I don't think that that means I shouldn't #listen to whatever part of me is saying this right now so I'm going to have it here I don't and if I stumble upon it at some #point then just remember that I was thinking this.), (2, And there's the #maybe_BPD I don't  So this could be the the #M_word), (2, And to stay positive and laugh and tell #stories, getting to know my new #roommate who helped immensely with the moving in process), (2, Bought #fabric!), (2, Bringing Ariana to yoga and she loved it), (2, But I am just so over it I don't think I can do it like this like I have this and like yeah #sure if you have crazy I don't know probably I would have been thrown into the same #asylum a year ago if if this were like what I don't know maybe 10 to 15 20 years ago I don't know I'm a woman and I'm hysterical so), (2, But probably that's not the real problem you know?), (2, Coffee), (2, Connection with #Whiskey_the_Cat, She trusts me, She lets me pet her #belly because she KNOWS she can #trust me), (2, Courage ), (2, Curiosity), (2, Dealing with #trauma from past sexual #experiences), (2, Doing my 100th #class today, #Andy giving me a big #hug), (2, During #yoga yesterday, #Terry-Ann questioning thoughts about being "good enough, strong enough, pretty enough"...), (2, Feeling #disrespected by my #roommate, like he doesn't care at all if I starve myself), (2, Feeling #scared of #strangers), (2, Fell #asleep maybe 2:30 to 3 am), (2, Finding a #place to live!!), (2, Fuck
Frodo
Fudge), (2, Good!), (2, Got up around 9:30am), (2, Gratitude journal: friends, water, sun, alcohol, pools ), (2, Hovering in #crowpose today), (2, I #accomplished 2 #chores today that I've been avoiding), (2, I #love my #cat_Whiskey so much), (2, I am #grateful for my #bed), (2, I am #grateful for my #cat_Whiskey I #love her), (2, I am #grateful for my #friend #Harlie and my new landlord #Aleksandra), (2, I am #grateful for the #flexibility of my #body), (2, I am #grateful for the #freedom to celebrate #pride), (2, I am #grateful that I have #good #friends), (2, I am #proud of myself for #eating #lunch even though I didn't have access to the kitchen), (2, I am #strong), (2, I asked out a #girl today and she said yes!), (2, I caught the feels. I knew the #risk and did it anyways. So now I feel stupid and #sad ), (2, I completed a 2 week #break from #cannabis), (2, I did most of the #chaturangapushups from my toes and not my knees today! #progress !), (2, I did the full #splits today in #yoga! And I did some #jumpthroughs! And I did more #binds than before!), (2, I feel #angry #misunderstood crazy but I don't know if that's an emotion so like), (2, I feel #discouraged), (2, I felt strong today), (2, I had a funny #encounter with a #pigeon flying straight at me, classic #Toronto!), (2, I had a good day!), (2, I made #banana_bread today, it turned out great!), (2, I made #linguine with #zucchini and cheesey sauce), (2, I took #Yin #Yoga with #Teri-Ann this evening the #sunset during #class and it was beautiful and felt good for my #body), (2, I took my first intermediate #yoga_class!), (2, I took the #train from #Spadina to #Union, #Union to #Clarkson. I felt #uncomfortable with the amount of #space I was taking up with my #bags, but I sat in the #discomfort and it turned out okay), (2, I used my time well today), (2, I usually consider myself a listener, although lately I do feel like I'm #talking a lot. But if course a #balance of the two seems important in any #relationship), (2, I was #brave today by returning to a cafe that I like but that I had 2 #scary experiences at previously), (2, I was #talking to my #therapist about #R, we were #talking about #memories coming back up about him. I was feeling #sad and stuff I guess and crying and we were sort of delving into it. And then something distracted me, and the #walls came down so tangibly. I turned back to her and said ‚ÄúI feel fine now‚Äù and I did, I felt totally fine again, just like that), (2, I was #thankful today that #Roberto (my supervisor) told me "great work"), (2, I was thinking about #vulnerability required to put myself out there, to get close to people. I was thinking how I keep wanting to move forward but I do think I need to delve deeper into my #feelings, into the #past), (2, I went for a #walk in the sun and tried to practice #mindfulness), (2, I'm #grateful for #Whiskey_the_Cat), (2, I'm #grateful for #friends), (2, I'm #grateful for #spring), (2, I'm #grateful for #whiskeythecat), (2, I'm #grateful for my #body and #happy to practice #yoga and feel my #body get #stronger), (2, I'm #grateful for my #friend #Bryce for helping me today), (2, I'm #grateful for my #friend #Bryce who helps #energize me), (2, I'm #grateful for my #friend #Nape reaching out to invite me to something), (2, I'm #grateful for my #friends), (2, I'm #grateful for my #friends. I feel a lot better today than yesterday. I'm #grateful that lately my bad days aren't as long or as often. I feel #hopeful today that I will find a good #apartment to live in), (2, I'm #grateful for my #health), (2, I'm #grateful for my #team at #FuelBar), (2, I'm #grateful for people in my life who #care about me), (2, I'm #grateful for the #sunny #weather and doing #yoga outside), (2, I'm #grateful for the grocery store cashier today who gave me a #rose for #Valentine's), ...]

[151 rows x 0 columns]

In [12]:
bullets.query("bullet_type == 3")
#bullet_type 3 is Journeys

Empty DataFrame
Columns: []
Index: [(3, A better self), (3, Build my #confidence), (3, Cultivate work-life harmony), (3, Just survive the day), (3, Start moving, get healthy), (3, Stay connected with #friends), (3, Tidy space, tidy mind)]

In [13]:
bullets.query("bullet_type == 4")
#bullet_type 4 is the same as 1 ?

Empty DataFrame
Columns: []
Index: [(4, #Eat #Dinner), (4, #Eat #breakfast), (4, #Eat #lunch), (4, #Express #gratitude to a #friend I'm #thankful for), (4, #Gratitude Jar), (4, #Meditation Timer), (4, #Message an old #friend I haven't #talked to in a while), (4, #Read for #fun), (4, #Reflect on what I did well recently), (4, #Remind myself of the #challenges I've overcome before), (4, #Step outside once), (4, #Yoga), (4, 7000 steps), (4, Create a Finch Backup File), (4, Create a dedicated #workspace to draw better #boundaries), (4, Drink #water), (4, Host a #game_night with my #friends), (4, Just be), (4, List 3 things I've always wanted to #try but am #afraid of and #try one of them), (4, Make #art üé®), (4, Mindfulness #Walk), (4, Night #Reflection), (4, One #Job #Hunting #task), (4, Put away one #item that is not in its #place), (4, Start a #load of #laundry), (4, Take #meds), (4, Take a #shower), (4, Talky Tuesday), (4, Think about a positive moment with #yoga)]

In [14]:
bullets.query("bullet_type == 5")
#bullet_type 5 is reflection prompts

Empty DataFrame
Columns: []
Index: [(5, #Write an #affirmation for yourself today.), (5, Are you a listener or a talker?), (5, Do you feel like you need to hide your #grief? Why or why not?), (5, Has there ever been a time when you thought ‚ÄúIt doesn't get any better than this?‚Äù), (5, How did you want to dress as a #child?), (5, How do you feel now?), (5, How does it feel to have #Eric Morphis think of you?), (5, How was your #sleep last night?), (5, What are the first three #words that come to mind when you think of #F?), (5, What are you happy about?), (5, What are you most proud of today?), (5, What are you unexcited about?), (5, What is a recent #gesture from someone that you are thankful for?), (5, What is a small recent #learning that you can #appreciate?), (5, What is one #item that you own that you're grateful for?), (5, What is one meaningful gift you received?), (5, What is one small thing you can #appreciate about your #body?), (5, What is one thing outside your #control that you learned to accept?), (5, What is one way you can consider yourself lucky?), (5, What is one way your life exceeded your #expectations?), (5, What is something you can #appreciate about outside?), (5, What made you feel more satisfied today?), (5, What made you happy today?), (5, What made you laugh today?), (5, What made you smile today?), (5, What moment from #childhood do you feel guilty about as an #adult?), (5, What nearby #item can you appreciate?), (5, What was your most #enjoyable moment today?), (5, What would you say are the best things about where you live?), (5, What's a small #win to celebrate?), (5, What's a small moment today that you #appreciate?), (5, What's bothering you today?), (5, What's lifting you up?), (5, What's lifting your #mood?), (5, What's on your #mind?), (5, What's one thing that makes your life easier?), (5, What's something that you're grateful to have today that you didn't have before?), (5, What's weighing you down?), (5, Who do you want to keep close to you next year?), (5, Who helps energize you?), (5, Who is one person you would like to appreciate more?), (5, Who makes you feel less confident?), (5, Who makes your life easier?)]

In [15]:
bullets.query("bullet_type == 6")
#bullet_type 6 does not exist

Empty DataFrame
Columns: []
Index: []

In [16]:
bullets.query("bullet_type == 7")
#bullet_type 7 is also reflections?

Empty DataFrame
Columns: []
Index: [(7, Today I'm #proud of myself for making 2 #scary phone calls)]

In [17]:
bullets.query("bullet_type == 1 or bullet_type == 4").reset_index().drop_duplicates(subset=['text'])

    bullet_type                                               text
0             1                                       #Eat #Dinner
1             1                                    #Eat #breakfast
2             1                                        #Eat #lunch
3             1  #Express #gratitude to a #friend I'm #thankful...
4             1                                     #Gratitude Jar
5             1                                           #Laundry
6             1                                  #Meditation Timer
7             1  #Message an old #friend I haven't #talked to i...
8             1                                     #Read for #fun
9             1  #Reflect on how #friends makes me feel #gratit...
10            1               #Reflect on what I did well recently
11            1  #Remind myself of the #challenges I've overcom...
12            1                                 #Step outside once
13            1                     #Walk around the #neighborhood
14            1  #Write 3 things on how #friends impacted me re...
15            1                                              #Yoga
16            1                                    #pessimism_Quiz
17            1                                        3 #push-ups
18            1                                  3 min #meditation
19            1                                   5 to 1 Technique
20            1                                         7000 steps
21            1                        Create a #Finch_Backup_File
22            1                         Create a Finch Backup File
23            1  Create a dedicated #workspace to draw better #...
24            1                                       Drink #water
25            1                Host a #game_night with my #friends
26            1                                            Just be
27            1  List 3 things I've always wanted to #try but a...
28            1                                        Make #art üé®
29            1            Make a #gratitude list before #sleeping
30            1                                       Make my #bed
31            1                                  Mindfulness #Walk
32            1                                  Night #Reflection
33            1                            One #Job #Hunting #task
34            1       Put away one #item that is not in its #place
35            1                          Start a #load of #laundry
36            1                                    Take #Vitamin_C
37            1                                         Take #meds
38            1                                     Take a #shower
39            1                                          Take meds
40            1                                      Talky Tuesday
41            1           Think about a positive moment with #yoga
42            1                               Wind Down #Stretches

In [18]:
goals = data_df.query("bullet_type == 1 or bullet_type == 4")
goals['creation_date'] = pd.to_datetime(goals.creation_time)
goals['dt_date'] = pd.to_datetime(goals.dt)
goals['completed_time'] = pd.to_datetime(goals.completed_time)

C:\Users\kaley\AppData\Local\Temp\ipykernel_14596\1673392719.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  goals['creation_date'] = pd.to_datetime(goals.creation_time)
C:\Users\kaley\AppData\Local\Temp\ipykernel_14596\1673392719.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  goals['dt_date'] = pd.to_datetime(goals.dt)
C:\Users\kaley\AppData\Local\Temp\ipykernel_14596\1673392719.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  goals['completed_time'] = pd.to_datetime(goals.completed_time)

In [19]:
goals[['dt_date','creation_date','text','bullet_status']].sort_values('dt_date',ascending=False)
# bullet_status is not whether the goal was completed, verified from my app from a few goals

,dt_date,creation_date,text,bullet_status
9214,2024-09-23 01:00:00,2024-09-23 12:00:52,#Step outside once,0.0
5891,2024-09-23 01:00:00,2024-09-23 12:00:52,7000 steps,0.0
7262,2024-09-23 01:00:00,2024-09-23 12:00:52,#Eat #Dinner,0.0
8527,2024-09-23 01:00:00,2024-09-23 12:00:52,#Eat #lunch,0.0
434,2024-09-23 01:00:00,2024-09-23 12:00:52,#Reflect on what I did well recently,0.0
...,...,...,...,...
6816,NaT,2022-12-18 02:50:14,Talky Tuesday,0.0
7569,NaT,2022-12-18 02:49:20,#Message an old #friend I haven't #talked to i...,0.0
7737,NaT,2024-04-21 23:22:57,#Reflect on what I did well recently,0.0
8418,NaT,2023-08-09 15:28:15,#Eat #Dinner,0.0
9200,NaT,2022-10-26 10:20:50,Drink #water,0.0

In [20]:
goals[['dt_date','creation_date','text','is_completed']].sort_values('dt_date',ascending=False).query("is_completed == True")
# gonna try is_completed, probaly could have tried that first XD

Empty DataFrame
Columns: [dt_date, creation_date, text, is_completed]
Index: []

In [21]:
# none?? hmmm

In [22]:
goals[['dt_date','creation_date','text','is_completed','completed_time']].sort_values('dt_date',ascending=False)
# is_completed seems like a useless column, it's False even when a completion time is specified
# okay so maybe completed_time is the column I need to use

,dt_date,creation_date,text,is_completed,completed_time
9214,2024-09-23 01:00:00,2024-09-23 12:00:52,#Step outside once,False,NaT
5891,2024-09-23 01:00:00,2024-09-23 12:00:52,7000 steps,False,NaT
7262,2024-09-23 01:00:00,2024-09-23 12:00:52,#Eat #Dinner,False,NaT
8527,2024-09-23 01:00:00,2024-09-23 12:00:52,#Eat #lunch,False,NaT
434,2024-09-23 01:00:00,2024-09-23 12:00:52,#Reflect on what I did well recently,False,NaT
...,...,...,...,...,...
6816,NaT,2022-12-18 02:50:14,Talky Tuesday,False,NaT
7569,NaT,2022-12-18 02:49:20,#Message an old #friend I haven't #talked to i...,False,NaT
7737,NaT,2024-04-21 23:22:57,#Reflect on what I did well recently,False,NaT
8418,NaT,2023-08-09 15:28:15,#Eat #Dinner,False,NaT
9200,NaT,2022-10-26 10:20:50,Drink #water,False,NaT

In [23]:
goals[['dt_date','creation_date','text','score','completed_time']].sort_values('dt_date',ascending=False).head(25)
# unfortuanately completed_time is also inaccurate compared to checking in my app

,dt_date,creation_date,text,score,completed_time
9214,2024-09-23 01:00:00,2024-09-23 12:00:52,#Step outside once,0.000000,NaT
5891,2024-09-23 01:00:00,2024-09-23 12:00:52,7000 steps,0.000000,NaT
7262,2024-09-23 01:00:00,2024-09-23 12:00:52,#Eat #Dinner,0.000000,NaT
8527,2024-09-23 01:00:00,2024-09-23 12:00:52,#Eat #lunch,0.000000,NaT
434,2024-09-23 01:00:00,2024-09-23 12:00:52,#Reflect on what I did well recently,6.666667,NaT
3980,2024-09-23 01:00:00,2024-09-23 12:00:52,Just be,0.000000,2024-09-23 12:01:02
8323,2024-09-23 01:00:00,2024-09-23 12:00:52,#Gratitude Jar,11.250000,NaT
2629,2024-09-23 01:00:00,2024-08-30 12:09:59,List 3 things I've always wanted to #try but a...,-15.000000,NaT
2575,2024-09-23 01:00:00,2024-09-23 12:00:52,Night #Reflection,0.000000,NaT
5215,2024-09-23 01:00:00,2024-09-23 12:00:52,Start a #load of #laundry,0.000000,NaT
1614,2024-09-23 01:00:00,2024-09-23 12:00:52,#Eat #breakfast,0.000000,2024-09-23 12:00:53
8652,2024-09-23 01:00:00,2024-09-23 12:00:52,Make #art üé®,0.000000,NaT
7493,2024-09-23 01:00:00,2024-09-23 12:00:52,Take a #shower,0.000000,NaT
7151,2024-09-23 01:00:00,2024-09-23 12:00:52,#Meditation Timer,0.000000,NaT
619,2024-09-23 01:00:00,2024-09-23 12:00:52,One #Job #Hunting #task,0.000000,NaT
6819,2024-09-23 01:00:00,2024-09-23 12:00:52,Think about a positive moment with #yoga,6.666667,NaT
4753,2024-09-23 01:00:00,2024-09-23 12:00:52,#Yoga,0.000000,NaT
638,2024-09-23 01:00:00,2024-09-23 12:00:52,Drink #water,0.000000,2024-09-23 12:47:00
3599,2024-09-23 01:00:00,2024-09-23 12:00:52,Take #meds,0.000000,2024-09-23 12:01:00
2300,2024-09-23 01:00:00,2024-09-23 12:00:52,Mindfulness #Walk,0.000000,NaT
8759,2024-09-23 01:00:00,2024-09-23 12:00:52,#Read for #fun,6.666667,2024-09-23 12:00:58
4054,2024-09-23 01:00:00,2024-09-23 12:00:52,Put away one #item that is not in its #place,0.000000,NaT
9587,2024-09-22 01:00:00,2024-09-22 07:18:55,Take #meds,0.000000,2024-09-22 12:37:08
1412,2024-09-22 01:00:00,2024-09-22 07:18:55,#Express #gratitude to a #friend I'm #thankful...,16.666667,NaT
7983,2024-09-22 01:00:00,2024-09-22 07:18:55,Start a #load of #laundry,0.000000,2024-09-22 16:36:14

In [24]:
goals[['dt_date','creation_date','linked_action_config.bullet.completed_time','completed_time']].sort_values('dt_date',ascending=False).head(25)

,dt_date,creation_date,linked_action_config.bullet.completed_time,completed_time
9214,2024-09-23 01:00:00,2024-09-23 12:00:52,NaN,NaT
5891,2024-09-23 01:00:00,2024-09-23 12:00:52,NaN,NaT
7262,2024-09-23 01:00:00,2024-09-23 12:00:52,NaN,NaT
8527,2024-09-23 01:00:00,2024-09-23 12:00:52,NaN,NaT
434,2024-09-23 01:00:00,2024-09-23 12:00:52,,NaT
3980,2024-09-23 01:00:00,2024-09-23 12:00:52,NaN,2024-09-23 12:01:02
8323,2024-09-23 01:00:00,2024-09-23 12:00:52,NaN,NaT
2629,2024-09-23 01:00:00,2024-08-30 12:09:59,,NaT
2575,2024-09-23 01:00:00,2024-09-23 12:00:52,NaN,NaT
5215,2024-09-23 01:00:00,2024-09-23 12:00:52,NaN,NaT
1614,2024-09-23 01:00:00,2024-09-23 12:00:52,NaN,2024-09-23 12:00:53
8652,2024-09-23 01:00:00,2024-09-23 12:00:52,NaN,NaT
7493,2024-09-23 01:00:00,2024-09-23 12:00:52,NaN,NaT
7151,2024-09-23 01:00:00,2024-09-23 12:00:52,NaN,NaT
619,2024-09-23 01:00:00,2024-09-23 12:00:52,NaN,NaT
6819,2024-09-23 01:00:00,2024-09-23 12:00:52,,NaT
4753,2024-09-23 01:00:00,2024-09-23 12:00:52,NaN,NaT
638,2024-09-23 01:00:00,2024-09-23 12:00:52,NaN,2024-09-23 12:47:00
3599,2024-09-23 01:00:00,2024-09-23 12:00:52,NaN,2024-09-23 12:01:00
2300,2024-09-23 01:00:00,2024-09-23 12:00:52,NaN,NaT
8759,2024-09-23 01:00:00,2024-09-23 12:00:52,NaN,2024-09-23 12:00:58
4054,2024-09-23 01:00:00,2024-09-23 12:00:52,NaN,NaT
9587,2024-09-22 01:00:00,2024-09-22 07:18:55,NaN,2024-09-22 12:37:08
1412,2024-09-22 01:00:00,2024-09-22 07:18:55,NaN,NaT
7983,2024-09-22 01:00:00,2024-09-22 07:18:55,NaN,2024-09-22 16:36:14

In [25]:
# columns of interest: has_granted_reward, is_completed, completed_time
goals[['dt_date','bullet_type','text','has_granted_reward','completed_time']].sort_values('dt_date',ascending=False).head(50)

,dt_date,bullet_type,text,has_granted_reward,completed_time
9214,2024-09-23 01:00:00,1,#Step outside once,False,NaT
5891,2024-09-23 01:00:00,1,7000 steps,False,NaT
7262,2024-09-23 01:00:00,1,#Eat #Dinner,False,NaT
8527,2024-09-23 01:00:00,1,#Eat #lunch,False,NaT
434,2024-09-23 01:00:00,1,#Reflect on what I did well recently,False,NaT
3980,2024-09-23 01:00:00,1,Just be,True,2024-09-23 12:01:02
8323,2024-09-23 01:00:00,1,#Gratitude Jar,False,NaT
2629,2024-09-23 01:00:00,1,List 3 things I've always wanted to #try but a...,False,NaT
2575,2024-09-23 01:00:00,1,Night #Reflection,False,NaT
5215,2024-09-23 01:00:00,1,Start a #load of #laundry,False,NaT
1614,2024-09-23 01:00:00,1,#Eat #breakfast,True,2024-09-23 12:00:53
8652,2024-09-23 01:00:00,1,Make #art üé®,False,NaT
7493,2024-09-23 01:00:00,1,Take a #shower,False,NaT
7151,2024-09-23 01:00:00,1,#Meditation Timer,False,NaT
619,2024-09-23 01:00:00,1,One #Job #Hunting #task,False,NaT
6819,2024-09-23 01:00:00,1,Think about a positive moment with #yoga,False,NaT
4753,2024-09-23 01:00:00,1,#Yoga,False,NaT
638,2024-09-23 01:00:00,1,Drink #water,True,2024-09-23 12:47:00
3599,2024-09-23 01:00:00,1,Take #meds,True,2024-09-23 12:01:00
2300,2024-09-23 01:00:00,1,Mindfulness #Walk,False,NaT
8759,2024-09-23 01:00:00,1,#Read for #fun,True,2024-09-23 12:00:58
4054,2024-09-23 01:00:00,1,Put away one #item that is not in its #place,False,NaT
9587,2024-09-22 01:00:00,1,Take #meds,True,2024-09-22 12:37:08
1412,2024-09-22 01:00:00,1,#Express #gratitude to a #friend I'm #thankful...,False,NaT
7983,2024-09-22 01:00:00,1,Start a #load of #laundry,True,2024-09-22 16:36:14
589,2024-09-22 01:00:00,1,#Yoga,False,NaT
8505,2024-09-22 01:00:00,1,#Eat #lunch,True,2024-09-22 14:35:08
9706,2024-09-22 01:00:00,1,Just be,True,2024-09-22 07:19:31
6805,2024-09-22 01:00:00,1,#Gratitude Jar,False,NaT
1382,2024-09-22 01:00:00,1,Drink #water,True,2024-09-22 07:19:00
7677,2024-09-22 01:00:00,1,Take a #shower,True,2024-09-22 20:48:12
8675,2024-09-22 01:00:00,1,7000 steps,False,NaT
4577,2024-09-22 01:00:00,1,#Read for #fun,True,2024-09-22 16:36:12
9888,2024-09-22 01:00:00,1,#Eat #breakfast,True,2024-09-22 12:37:16
6060,2024-09-22 01:00:00,1,Think about a positive moment with #yoga,False,NaT
9304,2024-09-22 01:00:00,1,#Eat #Dinner,True,2024-09-22 20:48:05
7351,2024-09-22 01:00:00,1,#Meditation Timer,False,NaT
1590,2024-09-22 01:00:00,1,One #Job #Hunting #task,False,NaT
6283,2024-09-22 01:00:00,1,#Step outside once,True,2024-09-22 14:35:22
5946,2024-09-22 01:00:00,1,Night #Reflection,False,NaT
449,2024-09-22 01:00:00,1,Put away one #item that is not in its #place,True,2024-09-22 14:35:13
4823,2024-09-22 01:00:00,1,Make #art üé®,True,2024-09-22 20:48:08
5328,2024-09-22 01:00:00,1,Mindfulness #Walk,True,2024-09-22 14:35:11
8597,2024-09-21 01:00:00,1,#Yoga,True,2024-09-21 16:02:31
2958,2024-09-21 01:00:00,1,#Eat #lunch,True,2024-09-21 16:02:23
7846,2024-09-21 01:00:00,1,7000 steps,False,NaT
568,2024-09-21 01:00:00,1,Think about a positive moment with #yoga,False,NaT
4347,2024-09-21 01:00:00,1,Just be,True,2024-09-21 09:25:38
6556,2024-09-21 01:00:00,1,#Remind myself of the #challenges I've overcom...,False,NaT
6621,2024-09-21 01:00:00,1,#Meditation Timer,False,NaT