In [13]:
import pandas as pd

In [14]:
data_location = 'C:/Users/kaley/OneDrive/Documents/Coding Stuff/Data Science/Mental Health Project/Sample Data/Withings/data_KDN_1700624124/'

In [15]:
df = pd.read_csv(data_location+'raw_hr_hr.csv')

In [16]:
df.head()

                       start duration  value
0  2023-11-21T02:15:49+01:00     [43]  [104]
1  2023-11-21T02:45:39+01:00     [38]  [121]
2  2023-11-21T02:55:00+01:00     [19]  [116]
3  2023-11-21T03:04:25+01:00     [24]  [116]
4  2023-11-21T03:13:48+01:00     [22]  [116]

In [18]:
df.shape

(292118, 3)

In [19]:
sample_df = df.head(100)

In [21]:
sample_df

                        start duration  value
0   2023-11-21T02:15:49+01:00     [43]  [104]
1   2023-11-21T02:45:39+01:00     [38]  [121]
2   2023-11-21T02:55:00+01:00     [19]  [116]
3   2023-11-21T03:04:25+01:00     [24]  [116]
4   2023-11-21T03:13:48+01:00     [22]  [116]
..                        ...      ...    ...
95  2023-11-21T18:24:17+01:00     [42]   [72]
96  2023-11-21T18:34:17+01:00     [59]   [96]
97  2023-11-21T18:54:16+01:00     [52]  [122]
98  2023-11-21T19:03:38+01:00     [21]   [95]
99  2023-11-21T19:13:27+01:00     [48]  [102]

[100 rows x 3 columns]

In [22]:
sample_df['datetime'] = pd.to_datetime(sample_df['start'])

C:\Users\kaley\AppData\Local\Temp\ipykernel_3248\1514273199.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_df['datetime'] = pd.to_datetime(sample_df['start'])

In [27]:
sample_df.describe()

C:\Users\kaley\AppData\Local\Temp\ipykernel_3248\710955407.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  sample_df.describe()

                            start duration value                   datetime
count                         100      100   100                        100
unique                        100       27    49                        100
top     2023-11-21T02:15:49+01:00     [22]  [69]  2023-11-21 02:15:49+01:00
freq                            1       22     5                          1
first                         NaN      NaN   NaN  2023-11-21 02:15:49+01:00
last                          NaN      NaN   NaN  2023-11-21 19:13:27+01:00