In [1]:
import pandas as pd
from datetime import datetime, timedelta, date

In [2]:
df = pd.read_csv('../data/processed/bullets.csv')

In [3]:
df.head()

,dt,bullet_type,text,score,bullet_status,completed_time,creation_time,schedule_time,end_time,creation_date
0,2024-04-28 01:00:00,1,#Meditation Timer,0.000000,0.0,NaN,"Sun, 28 Apr 2024 08:50:29",NaN,NaN,2024-04-28 08:50:29
1,2024-04-11 01:00:00,1,Think about a positive moment with #yoga,6.666667,0.0,NaN,"Thu, 11 Apr 2024 09:01:23",NaN,NaN,2024-04-11 09:01:23
2,2024-05-17 01:00:00,1,#Yoga,0.000000,0.0,NaN,"Fri, 17 May 2024 10:26:16",NaN,NaN,2024-05-17 10:26:16
3,2024-01-28 01:00:00,1,Think about a positive moment with #yoga,6.666667,0.0,NaN,"Sun, 28 Jan 2024 07:45:41",NaN,NaN,2024-01-28 07:45:41
4,2023-09-05 01:00:00,1,#Read for #fun,6.666667,1.0,2023-09-05 14:56:34,"Tue, 5 Sep 2023 10:16:36",2023-09-05 14:00:00,NaN,2023-09-05 10:16:36

In [4]:
df = df[['dt','bullet_type','bullet_status','text','creation_date']]

In [5]:
df.head()

,dt,bullet_type,bullet_status,text,creation_date
0,2024-04-28 01:00:00,1,0.0,#Meditation Timer,2024-04-28 08:50:29
1,2024-04-11 01:00:00,1,0.0,Think about a positive moment with #yoga,2024-04-11 09:01:23
2,2024-05-17 01:00:00,1,0.0,#Yoga,2024-05-17 10:26:16
3,2024-01-28 01:00:00,1,0.0,Think about a positive moment with #yoga,2024-01-28 07:45:41
4,2023-09-05 01:00:00,1,1.0,#Read for #fun,2023-09-05 10:16:36

In [6]:
df['dt'] = pd.to_datetime(df['dt']).dt.date
df['creation_date'] = pd.to_datetime(df['creation_date']).dt.date

In [7]:
# cleaning text
df['text'] = df['text'].str.replace("#","")

# replace {old_name: new name}
duplicates_dict = {
    "Meditation Timer": "Meditation",
    "Laundry":"Start a load of laundry",
    "Walk around the neighborhood":"Mindfulness Walk",
    "Make a gratitude list before sleeping":"Gratitude Jar",
    "Reflect on how friends makes me feel gratitude lately":"Gratitude Jar",
    "Express gratitude to a friend I'm thankful for":"Gratitude Jar"
}
df['text'] = df['text'].replace(duplicates_dict)

In [8]:
df.head()

,dt,bullet_type,bullet_status,text,creation_date
0,2024-04-28,1,0.0,Meditation,2024-04-28
1,2024-04-11,1,0.0,Think about a positive moment with yoga,2024-04-11
2,2024-05-17,1,0.0,Yoga,2024-05-17
3,2024-01-28,1,0.0,Think about a positive moment with yoga,2024-01-28
4,2023-09-05,1,1.0,Read for fun,2023-09-05

In [9]:
df = df.query("bullet_type == 1")

In [10]:
df[['text','creation_date']].groupby('text').min()

                                                   creation_date
text
3 min meditation                                      2022-10-26
3 push-ups                                            2024-01-25
5 to 1 Technique                                      2022-10-26
7000 steps                                            2022-10-30
Apply to 1 Job                                        2024-10-08
Create a Finch Backup File                            2024-07-19
Create a Finch_Backup_File                            2023-09-19
Create a dedicated workspace to draw better bou...    2024-07-01
Do 1 Job Hunt Related Task                            2024-11-17
Drink water                                           2022-10-26
Eat Dinner                                            2023-08-09
Eat breakfast                                         2023-08-08
Eat lunch                                             2023-03-17
Gratitude Jar                                         2022-10-27
Host a game_night with my friends                     2022-12-18
Just be                                               2022-11-09
List 3 things I've always wanted to try but am ...    2024-04-30
Make art ðŸŽ¨                                            2024-02-22
Make my bed                                           2022-11-08
Meditation                                            2022-11-01
Message an old friend I haven't talked to in a ...    2023-01-01
Mindfulness Walk                                      2022-10-30
Night Reflection                                      2023-02-02
One Job Hunting task                                  2024-06-17
Put away one item that is not in its place            2022-10-27
Read for fun                                          2023-04-19
Reflect on what I did well recently                   2024-04-22
Remind myself of the challenges I've overcome b...    2024-04-27
Start a load of laundry                               2022-10-26
Step outside once                                     2024-04-21
Take Vitamin_C                                        2022-11-09
Take Vitamin_D                                        2024-10-06
Take a shower                                         2024-04-21
Take meds                                             2024-09-16
Talky Tuesday                                         2022-12-20
Think about a positive moment with yoga               2023-09-15
Wind Down Stretches                                   2022-10-27
Write 3 things on how friends impacted me recently    2023-11-29
Yoga                                                  2023-08-08
pessimism_Quiz                                        2022-11-09